<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.radait.mariosample.web.api.member.mapper.MemberMapper">

    <resultMap id="MemberMap" type="Member">
        <id column="member_id" property="memberId"/>
        <result column="login_id" property="loginId"/>
        <result column="mem_nm" property="memNm"/>
        <result column="nick_nm" property="nickNm"/>
    </resultMap>

    <select id="findById" resultMap="MemberMap">
        SELECT
            member_id as member_id
             , login_id
             , mem_nm
             , nick_nm
        FROM member
        WHERE member_id = #{id}
    </select>

    <insert id="insert"
            parameterType="Member"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO member(login_id, mem_nm, nick_nm)
        VALUES (#{loginId}, #{name}, #{nickName})
    </insert>

</mapper>